<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9c46a712ee.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../public/images/icon.png">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>The Comms</title>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html"><img class="nav-logo move-from-left" src="../public/images/hLogo.png" alt="The Comms"></a>

            <div class="nav-links move-from-right">
                <a href="../index.html">Inicio</a>
                <a href="./plans.html">Packs</a>
                <a href="./services.html">Servicios</a>
                <a href="./contact.html">Contacto</a>
            </div>
        </nav>
    </header>
    <iframe class="side-fixeds" src="./side-fixeds.html" frameborder="0"></iframe>
    <main>
        <div class="presentation">
            <div class="pres-text">
                <h1 class="t1 move-from-left">¡Bienvenid@s a The Comms 💜- Digital Agency! 💫</h1>
                <h3 class="t2 move-from-left"> En The Comms, no solo creamos contenido, creamos conexiones y comunicacion auténtica, guiada por la pasión de hacer lo que mas amamos. 💜💡<br>Somos más que una agencia digital, somos tu socio estratégico en el mundo digital.</h3>
                <h3 class="t3 move-from-left">Desde estrategias de contenido personalizadas hasta el diseño de identidad visual que dejará huella, queremos estar al lado tuyo y ayudarte a impulsar tu marca hacia el éxito y lograr tus objetivos. 💫</h3>
                <h3 class="t4 move-from-left">🌟 ¿Por qué elegirnos? Porque en The Comms, cada proyecto es único y cada cliente es especial. <br>Nuestra creatividad, compromiso y pasión por la comunicación, se reflejan en cada detalle.</h3>
                <h3 class="t5 move-from-left">Y vos ¿qué esperas para conocernos y darle un vuelo a tu marca? 🤗</h3>
            </div>
            <div class="pres-img">
                <div class="fader"></div>
                <img src="../public/images/pres1.png">
            </div>
        </div>
        <section class="presentation2">
            <!-- <div class="top-bar-ss2">
                <div class="top-bar-text2">
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div> -->
            <article class="pres2-1">
                <h1>🚀 Nuestra mision 🚀</h1>
                <div>
                    <h3>Es simple: inspirar y conectar.</h3>
                    <h3 style="margin-top: 40px;">Queremos ayudarte a transmitir la esencia de tu marca y/o emprendimiento, de una manera auténtica y memorable, encendiendo la chispa que te diferenciará en el mundo digital.</h3>
                </div>
                 </article>
            <article class="pres2-2">
                <h1>¡Somos mucho mas que una agencia digital!</h1>
                <div>
                    <h3>En The Comms, combinamos la pasión con estrategias innovadoras para llevar tu marca al siguiente nivel. 💡</h3>
                    <h3 style="margin-top: 40px;">Unite a nosotros y, juntos, logremos tus objetivos para destacar tu emprendimiento en RRSS.💡😉</h3>
                </div>
                <a class="main-button2" href="./contact.html"> ¡Contáctanos hoy mismo!💜</a>
            </article>
            <article class="pres2-3">
                <h1>💭 Nuestra vision 💭</h1>
                <div>
                    <h3>Es ser tu agencia de confianza en el viaje hacia el éxito en RRSS.</h3>
                    <h3 style="margin-top: 40px;">Nos esforzamos por construir relaciones sólidas y duraderas, creando un impacto positivo en cada proyecto que abordamos.</h3>
                </div>
                </article>
            <!-- <div class="bot-bar-ss">
                <div class="bot-bar-text">
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div> -->
        </section>
    </main>
    <iframe class="footer" src="../views/footer.html" frameborder="0"></iframe>
</body>
</html>