<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9c46a712ee.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../public/images/icon.png">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>The Comms</title>
</head>
<body>
    <header>
        <nav>
            <a href="./index.html"><img class="nav-logo move-from-left" src="../public/images/hLogo.png" alt="The Comms"></a>

            <div class="nav-links move-from-right">
                <a href="../index.html">Inicio</a>
                <a href="./plans.html">Packs</a>
                <a href="./services.html">Servicios</a>
                <a href="./aboutUs.html">Sobre <br> Nosotros</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="contact1">
            <!-- <div class="top-bar-ss2">
                <div class="top-bar-text2">
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div> -->
            <article class="contact-caption">
                <div class="cont-img">
                    <img src="../public/images/contact-caption.png">
                </div>
                <div class="cont-text">
                    <h1 class="move-from-right">Contacto</h1>
                    <h3 class="move-from-right">Si estás buscando alguien que te ayude con las redes sociales de tu negocio, o tenés alguna duda o consulta sobre los cursos que damos, escribinos que vamos a estar contactándote para ayudarte.</h3>
                </div>
            </article>
            <!-- <div class="bot-bar-ss">
                <div class="bot-bar-text">
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div> -->
        </section>
        <section class="contact2">
            <iframe class="insta-preview move-from-left" src="https://www.instagram.com/thecomms.digitalagency/embed" frameborder="0" scrolling="no"></iframe>
            <article class="cont2-links"> 
                <div class="cont-text2">
                    <h1 class="move-from-right">Lorem ipsum</h1>
                    <h3 class="move-from-right">Lorem ipsum, dolor fasit amer lorem ipsum, dolor fasit amer lorem ipsum, dolor fasit amer</h3>
                </div>
                <div class="cont-buttons move-from-bot">
                    <a class="wsp-button" href="https://wa.me/541139296530" target="_blank"><i class="fa-brands fa-whatsapp"></i>11 3929-6530</a>
                    <a class="gmail-button" href="mailto:thecomms.digitalagency@gmail.com" target="_blank"><i class="fa-regular fa-envelope"></i>Thecomms</a>
                </div> 
            </article>
        </section>
    </main>
    <iframe class="footer" src="../views/footer.html" frameborder="0" scrolling="no"></iframe>
</body>
</html>