<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/header-styles.css">
</head>
    <header>
        <div class="header-nav">
            <nav>
                <a href="./index.html"><img class="nav-logo move-from-left" src="../public/images/hLogo.png" alt="The Comms"></a>

                <div class="nav-links move-from-right">
                    <a href="#">Inicio</a>
                    <a href="#">Cursos</a>
                    <a href="#">Servicios</a>
                    <a href="#">Sobre mi</a>
                    <a href="#">Contacto</a>
                </div>
            </nav>
        </div>
    </header>
</html>