<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9c46a712ee.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../public/images/icon.png">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>The Comms</title>
</head>
<body>
    <header>
        <nav>
            <a href="./index.html"><img class="nav-logo move-from-left" src="../public/images/hLogo.png" alt="The Comms"></a>

            <div class="nav-links move-from-right">
                <a href="../index.html">Inicio</a>
                <a href="./services.html">Servicios</a>
                <a href="./aboutUs.html">Sobre <br> Nosotros</a>
                <a href="./contact.html">Contacto</a>
            </div>
        </nav>
    </header>
    <iframe class="side-fixeds" src="./side-fixeds.html" frameborder="0" scrolling="no"></iframe>
    <main>
        <section class="contact1">
            <div class="top-bar-ss2">
                <div class="top-bar-text2">
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div>
            <article class="contact-caption">
                <div class="cont-img">
                    <img src="../public/images/plans1.png">
                    <div class="cont-fader"></div>
                </div>
                <div class="plans-text">
                    <h1 class="move-from-right">Lorem ipsum dolor sit amet consectetur, adipiscing elit curabitur.</h1>
                    <h3 class="move-from-right">Lorem ipsum dolor sit amet consectetur adipiscing elit leo, sed egestas cubilia ut commodo vitae facilisis a, risus ligula laoreet fermentum habitasse pellentesque quis. Montes augue volutpat nisl platea donec mattis aliquet tempus, laoreet nostra porta per etiam leo dignissim vitae, velit fermentum habitant consequat eros duis ligula.</h3>
                    <h3 class="move-from-right">Lorem ipsum dolor sit amet consectetur adipiscing elit leo, sed egestas cubilia ut commodo vitae facilisis a, risus ligula laoreet fermentum habitasse pellentesque quis. Montes augue volutpat nisl platea donec mattis aliquet tempus, laoreet nostra porta per etiam leo dignissim vitae, velit fermentum habitant consequat eros duis ligula.</h3>
                </div>
            </article>
            <div class="bot-bar-ss">
                <div class="bot-bar-text">
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div>
        </section>
        <section class="plans2">
            <h1 class="move-from-bot">Nuestros Planes</h1>
            <article class="plans2-art plans2-art1 move-from-left">
                <h2>Plan Pasion Plus:</h2>
                <div class="ppp1 ap1">
                    <div>✨<h3><b><i>Community Manager:</i></b> Publicacion de contenido en RRSS (2 a 3 publicaciones por semana)</h3></div>
                    <div>✨<h3><b><i>Gestion</i></b> de comentarios y mensajes directos</h3></div>
                    <div>✨<h3><b><i>Monitorizacion</i></b> de menciones y participacion en conversaciones relevantes</h3></div>
                    <div>✨<h3><b><i>Branding:</i></b> Diseño de logotipo (una propuesta), seleccion de paleta de colores y tipografia (una revision), creacion de plantilla para publicaciones en redes</h3></div>
                </div>
                <div class="ppp2 ap2">
                    <div>✨<h3><b><i>Contenido Creativo:</i></b> Creacion de 8 piezas de contenido al mes (puede incluir imagenes, graficos o citas inspiradoras) programadas para su publicacion en redes sociales.</h3></div>
                    <div>✨<h3><b><i>Mentoria de Comunicacion:</i></b> Sesiones de 1 hora una vez al mes para revisar el progreso, proporcionar retroalimentacion y ofrecer orientacion sobre estrategias de comunicacion.</h3></div>
                </div>
            </article>
            <article class="plans2-art plans2-art2 move-from-bot">
                <h2>Plan Comms Pro:</h2>
                <div class="pcp1  ap1">
                    <div>✨<h3><b><i>Social Media Management Premium:</i></b>  Publicacion de contenido en redes sociales (3 publicaciones por semana en cada plataforma)</h3></div>
                    <div>✨<h3><b><i>Gestion</i></b> activa de comentarios y mensajes directos (responder en un plazo de 24 horas)</h3></div>
                    <div>✨<h3><b><i>Analisis</i></b> de datos y ajustes estrategicos mensuales</h3></div>
                    <div>✨<h3><b><i>Rebranding Renovado:</i></b> Diseño de logotipo (dos propuestas), desarrollo de paleta de colores y tipografia (dos revisiones), creacion de manual de identidad visual completo.</h3></div>
                </div>
                <div class="pcp2  ap2">
                    <div>✨<h3><b><i>Copywriting de Alto Impacto:</i></b> Creacion de 12 piezas de contenido al mes, incluyendo publicaciones en redes sociales, articulos de blog o correos electronicos, segun sea necesario</h3></div>
                    <div>✨<h3><b><i>Campañas de Email Marketing:</i></b> Diseño y envio de una campaña de email marketing por mes, incluyendo diseño grafico, redaccion de contenido y analisis de resultados</h3></div>
                    <div>✨<h3><b><i>Seguimiento Avanzado:</i></b> Analicis quiencenal de metricas clave, incluyend alcance engagement, conversiones y crecimiento de la audiencia, con informes detallados y recomendaciones (reunion virtual)</h3></div>
                </div>
            </article>
            <article class="plans2-art plans2-art3 move-from-left">
                <h2>Plan Comms Pro:</h2>
                <div class="pppr1  ap1">
                    <div>✨<h3><b><i>Gestion Total de Redes Sociales:</i></b>  Publicacion de contenido en redes sociales (5 publicaciones por semana en cada plataforma)</h3></div>
                    <div>✨<h3><b><i>Gestion</i></b> proactiva de comentarios y mensajes directos (responder en un plazo de 12 horas), seguimiento personalizado de la audiencia</h3></div>
                    <div>✨<h3><b><i>Identidad Visual Exclusiva</i></b> Diseño de logotipo (tres propuestas), desarrollo completo de la identidad visual de marca con multiples revisiones, creacion de plantillas de marca para diversos usos.</h3></div>
                </div>
                <div class="pppr2  ap2">
                    <div>✨<h3><b><i>Contenido Premium:</i></b> Creacion de 20 piezas de contenido al mes, incluyendo videos, infografias personalizadas y contenido interactivo para redes sociales.</h3></div>
                    <div>✨<h3><b><i>Mentoria de Marca Personalizada</i></b> Sesiones de 1 hora dos veces al mes para revisar estrategias, proporcionar asesoramiento estrategico y abordar cualquier desafio especifico de la marca.</h3></div>
                    <div>✨<h3><b><i>Campañas Estrategicas de Marketing</i></b> Planificacion y ejecucion de campañas mensuales de marketing personalizadas, incluyendo diseño grafico, redaccion de contenido, segmentacion de audiencia y analisis detallado de resultados</h3></div>
                </div>
            </article>
        </section>
        <section class="frt-section">
            <div class="top-bar-ss2">
                <div class="top-bar-text2">
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div>
            <div class="text-n-cards">
                <div class="text-side">
                    <h1 class="fading-from-bot">Lorem ipsum, dolor fasit amer</h1>
                    <h3 class="fading-from-bot">Si decidiste comenzar a emprender en el maravilloso mundo de ser un/a Community Manager FREELANCE, o simplemente estás buscando un trabajo que te permita poco a poco decirle chau a esa relación de dependencia que te está agobiando, estos cursos son para vos. No sientas miedo, la estabilidad económica que tenés en tu relación de dependencia la podés tener en tu propio negocio.</h3>
                    <h3 class="fading-from-bot">Anotate en nuestros cursos y empezá a EMPRENDER un nuevo camino en tu VIDA.</h3>
                    <a class="main-button2 fading-from-bot" href="#">Potenciar mi emprendimiento</a>
                </div>
                <div class="mult-cards">
                    <img class="card1" src="../public/images/card1.png">
                    <img class="card2" src="../public/images/card2.png">
                    <img class="card3" src="../public/images/card3.png">
                </div>
            </div>
            <div class="bot-bar-ss">
                <div class="bot-bar-text">
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div>
        </section>
    </main>
    <iframe class="footer" src="./footer.html" frameborder="0" scrolling="no"></iframe>
</body>
</html>