<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9c46a712ee.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../public/images/icon.png">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>The Comms</title>
</head>
<body>
    <header>
        <nav>
            <a href="./index.html"><img class="nav-logo move-from-left" src="../public/images/hLogo.png" alt="The Comms"></a>

            <div class="nav-links move-from-right">
                <a href="../index.html">Inicio</a>
                <a href="./plans.html">Planes</a>
                <a href="./aboutUs.html">Sobre <br> Nosotros</a>
                <a href="./contact.html">Contacto</a>
            </div>
        </nav>
    </header>
    <iframe class="side-fixeds" src="./side-fixeds.html" frameborder="0" scrolling="no"></iframe>
    <main>
        
    </main>
    <iframe class="footer" src="./footer.html" frameborder="0" scrolling="no"></iframe>
</body>
</html>