<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9c46a712ee.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../public/images/icon.png">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>The Comms</title>
</head>
<body>
    <header>
        <nav>
            <a href="./index.html"><img class="nav-logo move-from-left" src="../public/images/hLogo.png" alt="The Comms"></a>

            <div class="nav-links move-from-right">
                <a href="../index.html">Inicio</a>
                <a href="./plans.html">Planes</a>
                <a href="./aboutUs.html">Sobre <br> Nosotros</a>
                <a href="./contact.html">Contacto</a>
            </div>
        </nav>
    </header>
    <iframe class="side-fixeds" src="./side-fixeds.html" frameborder="0" scrolling="no"></iframe>
    <main>
        <section class="contact1">
            <div class="top-bar-ss2">
                <div class="top-bar-text2">
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div>
            <article class="contact-caption">
                <div class="cont-img">
                    <img src="../public/images/plans1.png">
                    <div class="cont-fader"></div>
                </div>
                <div class="plans-text">
                    <h1 class="move-from-right">Lorem ipsum dolor sit amet consectetur, adipiscing elit curabitur.</h1>
                    <h3 class="move-from-right">Lorem ipsum dolor sit amet consectetur adipiscing elit leo, sed egestas cubilia ut commodo vitae facilisis a, risus ligula laoreet fermentum habitasse pellentesque quis. Montes augue volutpat nisl platea donec mattis aliquet tempus, laoreet nostra porta per etiam leo dignissim vitae, velit fermentum habitant consequat eros duis ligula.</h3>
                    <h3 class="move-from-right">Lorem ipsum dolor sit amet consectetur adipiscing elit leo, sed egestas cubilia ut commodo vitae facilisis a, risus ligula laoreet fermentum habitasse pellentesque quis. Montes augue volutpat nisl platea donec mattis aliquet tempus, laoreet nostra porta per etiam leo dignissim vitae, velit fermentum habitant consequat eros duis ligula.</h3>
                </div>
            </article>
            <div class="bot-bar-ss">
                <div class="bot-bar-text">
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                    <p>LOREM IPSUM</p>
                    <i class="fa-solid fa-heart"></i>
                </div>
            </div>
        </section>
        <section class="services-2">
            <h1 class="move-from-bot an-in">Nuestros servicios</h1>
            <article class="services-list sl5 move-from-left">
                <h2><b>Community Manager & Social Media Manager</b></h2>
                <h3>Deja que nuestro equipo experto <b>cultive y administre tus redes,</b> creando conexiones autenticas y alcanzando tu objetivos a traves de estrategias dinamicas de RRSS</h3>
            </article>
            <article class="services-list sl1 move-from-right">
                <img src="../public/images/highlighter1-2.png">
                <h2><b>Planificacion y Creacion de Contenido</b></h2>
                <h3><b>Desarrollamos estrategias de contenido personalizadas</b> que cuentan tu historia de manera autentica y atractiva, manteniendo a tu audiencia <u>comprometida y deseando</u> de mas</h3>
            </article>
            <article class="services-list sl2 move-from-left">
                <h2><b>Brand & Rebranding:</b></h2>
                <h3><b>Transformamos tu identidad visual</b> para que destaques y marques la diferencia, creando una impresion memorable y duradera que refleje tu evolucion y vision</h3>
            </article>
            <article class="services-list sl4 move-from-right">
                <h2><b>Seguimiento y Analisis de Cuentas</b></h2>
                <h3>Con un seguimiento y analisis detallado, <b>optimizamos continuamente tu presencia en linea</b> para obtener resultados tangibles y sostenibles.</h3>
            </article>
            <article class="services-list sl1 move-from-left">
                <h2><b>Campañas de Email Marketing:</b></h2>
                <h3>Llega directamente a tu audiencia con campañas de correo electronico personalizadas y efectivas que generan interes y accion</h3>
            </article>
            <article class="services-list sl3 move-from-right">
                <h2><b>Diseño de Identidad Visual:</b></h2>
                <h3>Creamos una identidad visual <b>cohesiva y atractiva</b> que refleje toda la personalidad de tu marca y la haga destacar en cualquier plataforma.</h3>
            </article>
            <article class="services-list sl1 move-from-left">
                <h2><b>Copywriting & Gestion de Redes Sociales</b></h2>
                <h3>Desde la redaccion persuasiva hasta la publicacion estrategica, creamos contenido que resuene con tu audiencia y refleja la esencia <u>unica de tu marca</u>.</h3>
            </article>
            <article class="much-more move-from-right an-in">
                <h1>Y mucho mas...</h1>
            </article>
            <article class="services-button">
                <a class="main-button2 move-from-bot an-in" href="#">Ponete en contacto</a>
            </article>
        </section>
    </main>
    <iframe class="footer" src="./footer.html" frameborder="0" scrolling="no"></iframe>
</body>
</html>