<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9c46a712ee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/side-fixeds-styles.css">
</head>
    <body>
        <div class="fixeds">
            <div class="fixed-instagram">
                <a class="insta-back" href="https://www.instagram.com/thecomms.digitalagency" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
            <div class="fixed-whatsapp">
                <a class="whats-back" href="https://wa.me/541139296530" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </div>
    </body>
</html>