* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-shadow: none;
    font-family: brice;
    background-color: white;
}
html{
    height: 100px;
}

h1{
    font-size: 1.8em;
    font-weight: 800;
    line-height: 1.4em;
    font-family: brice;
    color: #6f1ac1;
}
h3{
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

header{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    background-color: white;
    box-sizing: border-box;
    z-index: 10;
}

 .header-nav{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 90%;
}

nav{
    height: 100%;
    width: 95%;
    padding: 15px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    background-position-x: center;
    height: 80px;
    animation-duration: 1s;
    animation-delay: .5s;
    opacity: 0;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    animation-duration: 1s;
    animation-delay: .5s;
    opacity: 0;
}


a{
    background-color: white;
    display: flex;
    align-items: center;

    height: 40px;
    padding: 15px 15px 10px 15px;
    margin: 0px 5px;
    border-radius: 999px;

    color: #6f1ac1;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;

    transition: background-color 0.3s ease-in-out;
}
.nav-links a:hover{
    background-color: #6f1ac1;
    color:white
}

@font-face {
    font-family: brice;
    src: url("../fonts/Brice-Regular.otf");
}
@font-face {
    font-family: profanations;
    src: url("../fonts/Profanations-Black.otf");
}

.move-from-right{
    animation-name: move-in-right;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}
.move-from-left{
    animation-name: move-in-left;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

@keyframes move-in-left {
    from{
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes move-in-right {
    from{
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}