* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-shadow: none;
    font-family: brice;
}

h1{
    position: relative;
    font-size: 1.8em;
    font-weight: 800;
    line-height: 1.4em;
    font-family: brice;
    color: #6f1ac1;
}
h3{
    position: relative;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4em;
    font-family: profanations;
    color: black;
}
h3 b{
    font-size: 1em;
    font-family: profanations;
}

body{
    background-color: #6f1ac1;
    overflow-x: hidden;
}

.index-intro{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 11;
    opacity: 1;
    animation-name: fade;
    animation-duration: 1.2s;
    animation-delay: .4s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}





header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: white;
    box-sizing: border-box;
    z-index: 10;
}

nav{
    display: flex;
    width: 79%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    background-position-x: center;
    height: 80px;
    animation-duration: 1s;
    animation-delay: .5s;
    opacity: 0;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    animation-duration: 1s;
    animation-delay: .5s;
    opacity: 0;
}

.nav-links a:hover{
    background-color: #6f1ac1;
    color:white
}

.side-fixeds{
    position: fixed;
    display: flex;
    width: 80px;
    height: 200px;
    z-index: 11;
    top: 30vh;
    right: 0px;
}






a{
    background-color: white;
    display: flex;
    align-items: center;

    height: 40px;
    padding: 25px 15px 25px 15px;
    margin: 0px 5px;
    border-radius: 999px;

    color: black;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;

    transition: background-color 0.3s ease-in-out;
}

main{
    height: 100%;
}

.main-button{
    margin: 15px 0px 0px 20px;
    padding: 15px 15px 20px 15px;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    font-family: profanations; 
    background-color: #6f1ac1;
    text-decoration: none;
    align-items: center;
    border-radius: 999px;
    transition-duration: .4s;
    animation-delay: 1.5s;
    animation-duration: 1s;
    opacity: 0;
}
.main-button2{
    position: relative;
    padding: 15px 20px 20px 20px;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    font-family: profanations; 
    background-color: #6f1ac1;
    text-decoration: none;
    align-items: center;
    border-radius: 999px;
}


.main-button:hover{
    background-color: white;
    scale: 1.2;
    border: 2px #6f1ac1 solid;
    color: #6f1ac1;
}
.first-section{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: #f0e0ff;
    height: 600px;
    z-index: 3;
}
.first-section:hover{
    .loom-logo{
        scale: 1.12;
    }
}

.ft-section{
    margin-left: 16%;
    margin-top: 50px;
    width: 35%;
    display: flex;
    align-self: normal;
    flex-wrap: wrap;
    align-content: center;
}
.ft-section h1, .ft-section h3{
    margin: 15px 0px;
    transition-duration: .4s;
    animation-duration: 1.2s;
    opacity: 0;
}
.ft-section h1{
    animation-delay: .5s;
}
.ft-section h3{
    animation-delay: 1.0s;
}

.fs-img-container{
    display: flex;
    align-items: end;
}
.logo-hider{
    position: relative;
    top: 3px;
    height: 510px;
    width: 450px;
    z-index: 9;
}
.loom-logo{
    position: relative;
    height: 450px;
    width: 450px;
    top: -35px;
    right: -150px;
    transition-delay: .2s;
    transition-duration: .4s;
    animation-name: lLogo-fade-in;
    animation-duration: 1.4s;
    animation-fill-mode: both;
    animation-delay: 1s;
    opacity: 0;
    z-index: 7;
    background-position-x: center;
}
@keyframes lLogo-fade-in {
    from{transform: translateX(280px);}
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}



.snd-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #6f1ac1;
    height: 450px;
    z-index: 9;
}
.snd-section:hover{
    .top-bar-ss{
        width: 95vw;
    }
}


.generic-section h1, .generic-section h3, .generic-section a{
    margin: 15px;
    opacity: 0;
    animation-duration: .8s;
}
.generic-section h1{
    color: white;
    animation-delay: .5s;
}
.generic-section h3{
    color: white;
    font-weight: 450;
    animation-delay: 1s;
}
.generic-section a{
    background-color: white;
    color: #6f1ac1;
    animation-delay: 1.5s;
}

.generic-section a:hover{
    scale: 1.2;
    border: 3px white solid;
    background-color: #6f1ac1;
    color: white;
}
.generic-section{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
}


.top-bar-ss, .bot-bar-ss{
    display: flex;
    align-items: center;
    height: 30px;
    font-family: profanations;
    transition-delay: .1s;
    transition-duration: .4s;
}
.top-bar-ss{
    justify-self: flex-start;
    width: 75vw;
    background-image: linear-gradient(to right, #cc88ff 70%,#6f1ac1 85%);
}
.bot-bar-ss{
    width: 100%;
    background-color: #cc88ff;
    justify-content: center;
}
.top-bar-text, .bot-bar-text{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 1em;
}
.top-bar-text{
    width: 60vw;
}
.bot-bar-text{
    width: 100%;
    justify-items: center;
}

.top-bar-text p, .top-bar-text i, .bot-bar-text p, .bot-bar-text i, .top-bar-text2 p, .top-bar-text2 i{
    font-size: 0.8em;
}



.trd-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    justify-content: space-evenly;
    background-color: white;
    z-index: 1;

}

.trd-section h3{
    margin: 20px 0px;
}

.services-display{
    display: flex;
    justify-content: space-between;
}

.services{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20%;
}

.services img{
    height: 90px;
}




.fft-section{
    height: 650px;
    display: flex;
    background-color: #f0e0ff;
    align-items: center;
    justify-content: flex-start;
}
.carrousel-text{
    position: relative;
    display: flex;
    height: 40%;
    height: 100%;
    width: 60%;
    padding: 125px 0px 125px 150px;
    padding-left: 150px;
    margin-right: 150px;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}
.carrousel-text h1, .carrousel-text h3{
    position: relative;
}
.carrousel-text a{
    width: fit-content;
}

.vertical-carrousel{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vertical-carrousel img{
    position: relative;
    border-radius: 10%;
    height: 400px;
    margin: 20px 0px;
    border: 1px grey solid;
    box-shadow: 10px 10px 10px rgb(190, 190, 190);
}



.infRain1{animation: rain1 16s linear -12s infinite normal both;}
.infRain2{animation: rain2 16s linear -8s infinite normal both;}
.infRain3{animation: rain3 16s linear -4s infinite normal both;}
.infRain4{animation: rain4 16s linear 0s infinite normal both;}

@keyframes rain1 {
    0%{transform: translateY(1280px);}
    100%{transform: translateY(-500px);}
}
@keyframes rain2 {
    0%{transform: translateY(840px);}
    100%{transform: translateY(-940px);}
}
@keyframes rain3 {
    0%{transform: translateY(400px);}
    100%{transform: translateY(-1380px);}
}
@keyframes rain4 {
    0%{transform: translateY(-40px);}
    100%{transform: translateY(-1820px);}
}









.frt-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 810px;
    z-index: 2;
}
.top-bar-ss2{
    width: 100%;
    display: flex;
    align-items: center;
    height: 30px;
    font-family: profanations;
    justify-content: center;
    background-color: #cc88ff;
}
.top-bar-text2{
    display: flex;
    justify-content: space-around;
    color: white;
    width: 100%;
}
.text-n-cards{
    display: flex;
    position: relative;
    height: 750px;
    background-color: #d0eefd;
    width: 100%;

}
.text-side{
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 70%;
    justify-content: space-evenly;
    align-self: center;
    text-align: right;
}
.text-side h1, .text-side h3{
    position: relative;
    padding-left: 50px;
}
.text-side a{
    position: relative;
    top: 100px;
    align-self: flex-end;
}
.mult-cards{
    display: flex;
    align-items: end;
    flex-direction: row-reverse;
    width: 800px;
}
.mult-cards img {
    height: 70%;
    position: relative;
    border: 2px #b08bd5 solid;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.mult-cards .card1{
    height: 80%;
    bottom: 40px;
    right: 60px;
    z-index: 5;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.mult-cards .card2{
    height: 73%;
    bottom: 75px;
    right: -270px;
    z-index: 4;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
}
.mult-cards .card3{
    height: 65%;
    bottom: 75px;
    right: -560px;
    z-index: 3;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
}

.frt-section:hover{
    .mult-cards .card2{ 
        transform: rotate(-20deg);
        right: -165px;
    }
    .mult-cards .card3{
        transform: rotate(-40deg);
        right: -365px;
    }
}
.frt-section .main-button2{
    margin-top: 40px;
}
.main-button2:hover{
    background-color: white;
    scale: 1.2;
    border: 2px #6f1ac1 solid;
    color: #6f1ac1;
}






.footer{
    width: 100%;
}





















/*********************** ABOUT US PAGE ***********************/





.presentation{
    height: 750px;
    background-color: #cc88ff;
    display: flex;
    justify-content: space-between;
}
.pres-text{
    position: relative;
    right: -10vw;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    padding: 100px 0px 50px 60px;
}
.t1, .t2, .t3, .t4, .t5{
    animation-duration: 1s;
    position: relative;
    opacity: 0;
    color: white;
}
.t1{animation-delay: .4s;}
.t2{animation-delay: .5s;}
.t3{animation-delay: .6s;}
.t4{animation-delay: .7s;}
.t5{animation-delay: .8s;}

.presentation img{
    height: 100%;
    width: 30%;
    mask-image: linear-gradient(to left, black 80%, transparent);
}


.presentation2{
    height: 750px;
    background-color: white;
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to right, #d7ff7b 33%, #cc88ff 33% 67%, #d7ff7b 67%);
}
.presentation2 article{width: 30%;}

.pres2-1, .pres2-2, .pres2-3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    h1{
        margin-bottom: 70px;
    }
}
.pres2-2 a{
    margin-top: 250px;
    width: fit-content;
}
.pres2-2{
    h1, h3{
        color: white;
    }
}

.pres2-1, .pres2-3{
    h1, h3{
        color: #6f1ac1;
    }
    div h3{
        margin: 0px 40px 0px 40px;
    }
}



















/*********************** CONTACT PAGE ***********************/





.contact1{
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #4d61f4;
    h1, h3{
        color: #d7ff7b;
        animation-duration: .5s;
        animation-delay: .2s;
        animation-timing-function: ease-out;
    }
}
.contact-caption{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}
.cont-img{
    display: flex;
    align-items: end;
    width: 50%;
    height: 100%;
}
.cont-text{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    height: 35%;
    width: 40%;
    text-align: center;
}


.contact2{
    position: relative;
    background-color: #cc88ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
    width: 100%;
    z-index: 2;
}
.cont2-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-left: 30px;
    height: 570px;
    width: 540px;
}
.cont-text2{
    margin-top: 100px;
    h1, h3{
        color: white;
    }
}

.cont-text2 h1, .cont-text2 h3{
    position: relative;
    animation-duration: .8s;
    opacity: 0;
}
.cont-text2 h1{animation-delay: .5s;}
.cont-text2 h3{animation-delay: .6s;}

.cont-buttons{
    position: relative;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    animation-duration: .8s;
    animation-delay: .2s;
    opacity: 0;
}
.wsp-button{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    color: white;
    background-color: #25d366;
    font-weight: 400;
    margin: 0px;
}
.wsp-button i{
    font-size: 1.1em;
    margin-right: 5px;
}
.gmail-button{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin: 10px 0px;
    border: 2px red solid;
}
.gmail-button i{
    color: red;
    font-size: 1.1em;
    margin-right: 5px;
}

.insta-preview{
    position: relative;
    width: 540px;
    height: 570px;
    border-radius: 5%;
    margin-right: 30px;
    border: #6f1ac1 solid 3px;
    animation-duration: .8s;
    animation-delay: .3s;
    box-shadow: -10px 10px 0px 0px #e07b99;
    opacity: 0;
}





















/*********************** PACKS PAGE ***********************/




.plans-text{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    margin-top: 120px;
    height: 80%;
    width: 40%;
    text-align: center;
}
.plans-text h1, .plans-text h3{
    animation-duration: .8s;
}
.plans-text h1{
    animation-delay: .4s;
}
.plans-text h3{
    animation-delay: .5s;
}

.plans2{
    height: 1900px;
    padding: 50px;
    background-color: #ff6700;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    h1{
        position: relative;
        animation-duration: .8s;
        animation-delay: .4s;
        opacity: 0;
    }
}
.plans2-img{
    position: absolute; 
    height: 50px; 
    width: 350px; 
    top: 40px;
    animation-duration: .8s;
    animation-delay: .4s;
    animation-name: move-in-bot;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    opacity: 0;
}

.plans2-art{
    position: relative;
    width: 70%;
    height: 520px;
    margin: 50px 0px 0px 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    padding: 40px;
    animation-duration: .8s;
    animation-delay: .4s;
    opacity: 0;
}

.plans2-art1, .plans2-art3{
    box-shadow: #e07b99 -10px 10px 0px;
    border: 5px solid #d7ff7b;
    align-self: flex-start;
}
.plans2-art2{
    box-shadow: #e07b99 10px 10px 0px;
    border: 5px solid #d7ff7b;
    align-self: flex-end;
}
.plans2-art h2{
    font-size: 1.4em;
    font-weight: 800;
    line-height: 1.4em;
    font-family: brice;
}

.ap1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-between;
    background: radial-gradient(farthest-corner at 10% 100%,#d7ff7b 0%, white 80%);
}
.ap2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: radial-gradient(farthest-corner at 100% 10%,#d7ff7b 0%, white 90%);
}
.ap1 div, .ap2 div{display: flex;}

.ppp1{height: 90%;}
.ppp2{height: 50%;}

.pcp1{height: 80%;}
.pcp2{height: 85%;}

.pppr1{height: 80%;}
.pppr2{height: 85%;}





















/*********************** SERVICES PAGE ***********************/



.services-2{
    height: 1500px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: #d7ff7b;
    padding: 50px;
    position: relative;
    z-index: 1;
}
.services-2 h1{
    width: 100%;
    text-align: center;
}

.services-list{
    width: 30%;
    padding: 40px 60px 10px 60px;
    border-radius: 20px;
    margin: 50px;
    box-shadow: 8px 10px 0px 0px #4d61f4;
    animation-duration: .6s;
    animation-delay: .2s;
}
.sl1{background-color: #cc88ff;}
.sl1 img{
    position: absolute;
    z-index: -1;
    width: 85%;
    height: 40px;
    top: 30px;
    left: 40px;
}
.sl2{background: radial-gradient(farthest-corner at 10% 0%,#d7ff7b 0%, white 80%);}
.sl3{background: radial-gradient(farthest-corner at 100% 100%,#d7ff7b 0%, white 80%);}
.sl4{background: linear-gradient(to left, #6ad7ff -50%, white 70%);}
.sl5{background: linear-gradient(to right, #6ad7ff -50%, white 70%);}

.services-list h2 b{
    font-size: 1.2em;
    font-weight: 800;
    line-height: 1.3em;
    font-family: brice;
}
.services-list h3 b{
    font-weight: 500;
}
.sl1 h2, .sl1 h3{
    color: white;
    margin-bottom: 20px;
}
.much-more{
    width: 30%;
    height: 150px;
    margin: 50px;
    display: flex;
    align-items: center;
}
.services-button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    a {
        font-size: 1.4em;
    }
}
.services-button h1{
    width: 200px;
}
.an-in{
    animation-duration: .6s;
    animation-delay: .2s;
}
















.move-from-right{
    position: relative;
    opacity: 0;
    animation-name: move-in-right;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}
.move-from-left{
    position: relative;
    opacity: 0;
    animation-name: move-in-left;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}
.move-from-bot{
    position: relative;
    opacity: 0;
    animation-name: move-in-bot;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}
@keyframes fade {
    50%{
        opacity: 0;
        width: 100%;
        height: 100%;
    }
    100%{
        height: 0%;
        width: 0%;
        opacity: 0;
    }
}
@keyframes move-in-left {
    from{
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes move-in-right {
    from{
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes move-in-bot {
    from{
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}





@font-face {
    font-family: brice;
    src: url("../fonts/Brice-Regular.otf");
}
@font-face {
    font-family: profanations;
    src: url("../fonts/Profanations-Black.otf");
}


.fading-from-bot{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: fade-in-bot;

    animation-range: entry 0% cover 25%;
    animation-fill-mode: both;
    animation-timing-function: ease-out
}

@keyframes fade-in-bot {
    from{
        top: 150px;
        opacity: 0;
    }
    to{
        top: 0px;
        opacity: 1;
    }
}